---
import gql from "graphql-tag";
import { Image } from "react-datocms";
import { Body } from "../components/body";
import { Container } from "../components/container";
import type { ArtworkRecord } from "../lib/datocms/types";
import { metaTagFragment, responsiveImageFragment } from "../lib/fragments";
import Layout from "./Layout.astro";

export const fragment = gql`
  fragment Artwork on ArtworkRecord {
    id
    title
    slug
    image {
      responsiveImage {
        ...ResponsiveImage
      }
    }
    body {
      value
      blocks {
        __typename
        ... on ImageRecord {
          id
          image {
            responsiveImage(
              imgixParams: { fit: crop, w: 800, h: 400, auto: format }
            ) {
              ...ResponsiveImage
            }
          }
        }
      }
    }
    _seoMetaTags {
      ...MetaTag
    }
  }

  ${metaTagFragment}
  ${responsiveImageFragment}
`;

interface ArtworkProps {
  artwork: ArtworkRecord;
}

const { artwork } = Astro.props as ArtworkProps;
const image = artwork.image.responsiveImage!;
---

<Layout seo={artwork._seoMetaTags}>
  <Container>
    <article class="flex flex-col items-center">
      <h1 class="max-w-screen-md mb-8 text-4xl text-center">
        {artwork.title}
      </h1>
      <Image className="mb-8" lazyLoad={false} data={image} />
      {artwork.body ? (
        <div class="max-w-screen-sm">
          <Body body={artwork.body} />
        </div>
      ) : null}
    </article>
  </Container>
</Layout>
