---
import gql from "graphql-tag";
import { Image } from "react-datocms";
import { Body } from "../components/body";
import { Container } from "../components/container";
import type { PostRecord } from "../lib/datocms/types";
import { metaTagFragment, responsiveImageFragment } from "../lib/fragments";
import Layout from "./layout.astro";

export const fragment = gql`
  fragment Post on PostRecord {
    id
    title
    slug
    image {
      responsiveImage {
        ...ResponsiveImage
      }
    }
    body {
      value
      blocks {
        __typename
        ... on ImageRecord {
          id
          image {
            responsiveImage(
              imgixParams: { fit: crop, w: 800, h: 400, auto: format }
            ) {
              ...ResponsiveImage
            }
          }
        }
      }
    }
    _seoMetaTags {
      ...MetaTag
    }
  }

  ${metaTagFragment}
  ${responsiveImageFragment}
`;

interface PostProps {
  post: PostRecord;
}

const { post } = Astro.props as PostProps;
const image = post.image.responsiveImage!;
---

<Layout seo={post._seoMetaTags}>
  <Container>
    <article class="flex flex-col items-center">
      <h1 class="max-w-screen-md mb-8 text-4xl text-center">
        {post.title}
      </h1>
      <Image className="mb-8" lazyLoad={false} data={image} />
      <div class="max-w-screen-sm">
        <Body body={post.body} />
      </div>
    </article>
  </Container>
</Layout>
